.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  user-select: none;
  background-color: #221f1d;
}

.header {
  font-size: large;
  font-weight: bold;
  user-select: none;
}

@media (hover: hover) and (pointer: fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 15px;
    height: 15px;
    pointer-events: none;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    transform: translate(-50%, -50%);
  }

  .cursor.white {
    background-color: white;
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85vw;
  height: 100vh;
  margin: 10vh;
  color: #5f5f5f;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

.type1::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 10px;
  height: 10px;
  visibility: hidden;
  content: '';
  background-color: #333;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}

.button:hover,
.button.hovered {
  color: #fff;
  cursor: none;
  border: none;
  box-shadow: 1px 1px 200px #252525;
}

.type1:hover::after,
.type1.hovered::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.description {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.button:hover .description,
.button.hovered .description {
  opacity: 1;
}

.left {
  flex-direction: row;
  justify-content: flex-start;
}

.right {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.textcontainer {
  flex: 1;
}

.descriptioncontainer {
  flex: 1;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.button:hover .descriptioncontainer,
.button.hovered .descriptioncontainer {
  opacity: 1;
}

.headerText {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.skillstyle {
  display: flex;
  gap: 10vw; /* フロントエンドとバックエンドの間にスペースを追加 */
  justify-content: center; /* コンテナの中央揃え */
  width: 100%;
}

.skillSection,
.worksSection {
  flex: 1;
  margin-top: 20px;
}

.frontstyle,
.backstyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.skillList,
.worksList {
  padding: 0;
  padding-top: 5%;
  list-style-type: none;
}

.skillItem,
.workItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.skillName,
.workTitle {
  font-weight: bold;
}

.skillLevel,
.workDescription {
  color: #aaa;
}

.gameLinks {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.gameLink {
  margin-bottom: 10px;
}

.workLink,
.sourceLink,
.deployLink {
  margin-left: 10px;
  color: #5f5f5f;
  text-decoration: none;
  transition: color 0.3s ease;
}

.workLink:hover,
.sourceLink:hover,
.deployLink:hover {
  color: #ff6347;
}

.achievementsSection {
  width: 100%;
  padding: 20px;
  margin-top: 50px;
  background: #2c2c2c;
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
}

.achievementItem {
  margin-bottom: 00;
  font-size: 1.2em;
}

.achievementpadding {
  margin-bottom: 270px;
}

.link {
  text-decoration: underline; /* リンクの下線 */
  transition: color 0.5s ease;
}

.link:hover {
  color: yellow; /* ホバー時のリンクの色 */
}

.contactLink {
  text-decoration: underline; /* リンクの下線 */
  transition: color 0.5s ease;
}

.contactLink:hover {
  color: gray; /* ホバー時のリンクの色 */
}

.contactRow {
  width: 100%;
  margin-top: 9.1%;
}
