.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  user-select: none;
  background-color: #221f1d;
}

.header {
  font-size: large;
  font-weight: bold;
  user-select: none;
}

@media (hover: hover) and (pointer: fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 15px;
    height: 15px;
    pointer-events: none;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    transform: translate(-50%, -50%);
  }

  .cursor.white {
    background-color: white;
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85vw;
  height: 100vh;
  margin: 10vh;
  color: #5f5f5f;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

.type1::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 10px;
  height: 10px;
  visibility: hidden;
  content: '';
  background-color: #333;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}

.button:hover,
.button.hovered {
  color: #fff;
  border: none;
  box-shadow: 1px 1px 200px #252525;
}

.type1:hover::after,
.type1.hovered::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.description {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.button:hover .description,
.button.hovered .description {
  opacity: 1;
}

.left {
  flex-direction: row;
  justify-content: flex-start;
}

.right {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.textcontainer {
  flex: 1;
}

.descriptioncontainer {
  flex: 1;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.button:hover .descriptioncontainer,
.button.hovered .descriptioncontainer {
  opacity: 1;
}
