.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  overflow-x: auto;
  cursor: none; /* ナビバーでデフォルトカーソルを隠す */
  user-select: none;
  background-color: #a0b0ba;
}

.logo {
  padding-right: 5%;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  position: relative;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  cursor: none; /* リンクでデフォルトカーソルを隠す */
  transition: color 0.3s;
}

.navLinks a::after {
  position: absolute;
  right: -20px;
  opacity: 0;
  transition:
    opacity 0.3s,
    right 0.3s;
}

@media (hover: hover) and (pointer: fine) {
  .navLinks a:hover {
    color: #ddd;
  }

  .navLinks a:hover::after {
    right: 0;
    opacity: 1;
  }
}
