.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #a0b0ba;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks button {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background: none;
  border: none;
  transition: color 0.3s;
}

.navLinks button:hover {
  color: #ddd;
}

/* Main Container */
.container {
  max-width: 1200px;
  padding: 20px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

/* Headers */
.header {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.sectionHeader {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #555;
}

.subSectionHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #666;
}

/* Lists */
.listItem {
  margin-bottom: 10px;
  font-size: 18px;
  color: #777;
}

.contactInfo a {
  color: #007bff;
  text-decoration: none;
}

.contactInfo a:hover {
  text-decoration: underline;
}

@media (width <= 768px) {
  .header {
    font-size: 24px;
  }

  .sectionHeader {
    font-size: 20px;
  }

  .subSectionHeader {
    font-size: 18px;
  }

  .listItem {
    font-size: 16px;
  }

  .contactInfo a {
    font-size: 16px;
  }
}
